/* Botón de WhatsApp móvil */
.whatsapp-mobile-btn {
  position: fixed;
  right: 20px !important;
  bottom: 20px;
  background-color: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 9999;
  
    /* width: 65px;
    height: 65px;
    border-radius: 50px;
    background: linear-gradient(45deg, #fe802d 8%, #fe0840 50%, #ac0bd9 90%);
    position: fixed;
    bottom: 20px;
    right: 15px;
    transition: bottom ease 0.5s;
    z-index: 1000; */
}

/* Ocultar en pantallas grandes */
@media screen and (min-width: 1200px) {
  .whatsapp-mobile-btn {
    display: none !important;
  }
}
